/*Start of media query*/
@media only screen and (min-width: 38rem) {

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    nav {
        grid-template-rows: 1fr;
    }

    footer {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}

/*End of media query*/