/*Start of media query*/
@media only screen and (min-width: 57rem) {
    #myButton {
        display: none;
    }

    header h1 {
        font-size: xx-large;
    }


    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

    nav {
        grid-template-rows: 1fr;
    }

    footer {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 1rem;
    }

    .introduction {
        grid-column: span 2;
    }

    .spotlights {
        grid-column: span 2;
        grid-template-rows: 1fr 2fr;
    }

    #cardContainer {
        display: flex;
    }

}

/*End of media query*/